# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/

# Environment
.env
*.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Flask
instance/

# Git
*.orig
*~
!*.ttf
gen_pdf.py
sqli_report.html
data/
*.ttf
upload_report.html
gen_docx.py
inclusion_report.html
static/css/splash.css
gen_csrf_docx.py
gen_ssrf_docx.py
